.section {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  margin: 0 auto;
  padding: 100px 0;
  display: block;
  unicode-bidi: isolate;
  max-width: 1000px;
  height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.head::before {
  position: relative;
  counter-increment: section 4;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 400;
}

.head::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.contactText {
  font-size: var(--fz-heading);
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.contactDot {
  color: var(--brand);
}

.desc {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.contactDiv {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.descText {
  text-align: center;
  font-weight: 200;
  margin: 1.7rem 0;
}

.contactBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--text-md);
  margin: auto;
  transition: color 0.25s;
}
