/* Projects.css */

.section {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  margin: 0 auto;
  padding: 100px 0;
  display: block;
  unicode-bidi: isolate;
  max-width: 1000px;
  min-height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  white-space: nowrap;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.head::before {
  position: relative;
  counter-increment: section 3;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 400;
}

.head::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

/* .projectList {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.projectImage {
  grid-column: 1/8;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.projectContent {
  grid-column: 7 / -1;
  text-align: right;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
} */

.projectsSection {
  padding: 2rem;
  background-color: #f5f5f5;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media (max-width: 770px) {
    grid-template-columns: 1fr;
  }
}

.projectCard {
  /* background-color: #29335d; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

/* .projectCard:hover {
  transform: translateY(-5px);
} */
.projectImage {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: #353c53;
}

.projectImage img {
  width: 100%;
}

.imageA {
  width: 85%;
  transform: translateY(-5px);
  bottom: 0;
  position: absolute;
  left: 8%;
  display: flex;
}

.projectDetails {
  padding: 1rem 0;
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.projectTitlesLine {
  width: 100%;
  height: 1px;
  background: var(--lightest-navy);
}

.projectDetails h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.projectDetails p {
  margin: 0 0 1rem 0;
  color: #666;
}

.projectTags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8rem 0;
  gap: 1.2rem;
  font-size: var(--text-xs);
  color: var(--brand);
  margin: 0.8rem 0;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  font-size: var(--text-xs);
  color: var(--brand);
  margin: 0.8rem 0;
}
